<li class="mercadopago-discount-options field">
    <div class="box-input">
        <label for="input-coupon-discount"><!-- ko i18n: 'Discount coupon'--><!-- /ko --></label>
        <div class="input-coupon-discount">
            <input class="mercadopago_coupon input-text validate-discount" id="input-coupon-discount" type="text" data-bind="attr: {name: getTokenCodeArray('coupon_code')}"/>
        </div>
    </div>


    <ul class="mercadopago-message-coupon">
        <li class="loading">
            <img data-bind="attr: {src: getLoadingGifUrl()}" alt="loading" />
        </li>

        <li class="error error-get mage-error">
            <!-- ko i18n: 'An error occurred while validating the coupon. Try again.'--><!-- /ko -->
        </li>

        <li class="error amount-doesnt-match transaction_amount_invalid mage-error">
            <!-- ko i18n: 'The coupon can not be applied to this amount.'--><!-- /ko -->
        </li>

        <li class="error campaign-code-doesnt-match collector-doesnt-match mage-error">
            <!-- ko i18n: 'Does not find a campaign with the given code.'--><!-- /ko -->
        </li>

        <li class="error run-out-of-uses mage-error">
            <!-- ko i18n: 'Run Out of uses per user.'--><!-- /ko -->
        </li>


        <li class="error invalid_id mage-error">
            <!-- ko i18n: 'Please enter a valid coupon code.'--><!-- /ko -->
        </li>

        <li class="ok discount-ok">
            <p><!-- ko i18n: 'You save'--><!-- /ko --> <b><span class="amount-discount"></span></b> <!-- ko i18n: 'with the exclusive discount'--><!-- /ko --> <span class="mercadopago-focus">Mercado Pago.</span></p>
            <p><!-- ko i18n: 'Total of your purchase'--><!-- /ko --><b><span class="total-amount"></span></b>.</p>
            <p><!-- ko i18n: 'Total of your purchase discount'--><!-- /ko --><b><span class="total-amount-discount"></span>*</b>.</p>
            <p><i>*<!-- ko i18n: 'Upon approval of payment.'--><!-- /ko --></i></p>
            <p><a href="" class="mercadopago-coupon-terms" target="_blank"><!-- ko i18n: 'Terms and conditions.'--><!-- /ko --></a></p>
        </li>
    </ul>

    <span class="mercadopago-coupon-action-apply"><!-- ko i18n: 'Apply discount'--><!-- /ko --></span>
    <span class="mercadopago-coupon-action-remove"><!-- ko i18n: 'Remove discount'--><!-- /ko --></span>
    <div id="mercadopago-init" data-bind="template: {afterRender: initDiscountApp()}"></div>
</li>