.mercadopago-popup {
    position: relative;
    z-index: 9999;
}

.mercadopago-popup-overlay {
    background: gray;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9991;
}

.mercadopago-popup main {
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    left: 50%;
    max-height: 80%;
    overflow: auto;
    padding: 15px 20px 10px;
    position: fixed;
    text-align: left;
    top: 10%;
    transform: translateX(-50%);
    width: 500px;
    z-index: 9992;
}

.mercadopago-popup .btn-close-popup {
    cursor: pointer;
    padding: 0 5px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.order-profile-app-wrapper .loading-overlay {
    background: gray;
    bottom: 0;
    display: none;
    left: 0;
    opacity: 0.5;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
}

.order-profile-app-wrapper.loading .loading-overlay {
    display: block;
}

.mercadopago-popup h3 {
    color: #3399cc;
    font-weight: 600;
    line-height: 1.1;
    font-size: 1.8rem;
}

.columns {
    display: table;
}

.cards-column,
.data-column {
    display: table-cell;
    vertical-align: top;
}

.cards-column {
    min-width: 110px;
}

.data-column {
    background: #F7F7F7;
    padding: 0 20px;
    position: relative;
    width: 100%;
}

#op-payment-cards-list li {
    display: block;
    border-bottom: 1px solid #F7F7F7;
    margin-bottom: 0px;
}

#op-payment-cards-list li:first-child {
    border-top: 1px solid #F7F7F7;
}

#op-payment-cards-list li.selected {
    background: #F7F7F7;
}

#op-payment-cards-list li label {
    cursor: pointer;
    padding: 5px;
    width: 100%;
    display: inline-block;
}

#op-payment-cards-list li input,
#op-payment-cards-list li img {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#paymentCost {}

#paymentCost label {
    display: inline-block;
    width: 45px;
}

#op-bank-select {

}

#op-bank-select select {
    display: inline-block;
    margin-right: -2px;
    width: 260px;
}

#op-bank-select,
.op-installments {
    border-bottom: 1px solid #FFFFFF;
    overflow: hidden;
    padding: 20px 0;
}

#installmentSelect {
    min-width: 40px;
    width: 55px;
}

#installmentsPrice {
    color: #3399cc;
    font-size: 24px;
    font-weight: bold;
    line-height: 14px;
}

#installmentsPrice sup {
    font-size: 14px;
    top: -8px;
}

.op-installments > * {
    display: inline-block;
    vertical-align: middle;
}

.op-price,
.op-installments-free-text {
    float: left;
}

.op-installments-free-text {
    font-family: Raleway, Arial;
    margin-left: 10px;
}

.op-submit {
    padding: 10px 0;
    text-align: right;
}

#costTransparentPrices {
    bottom: 15px;
    color: #999999;
    display: inline-block;
    font-family: Arial;
    line-height: 1;
    position: absolute;
}

.op-installments-primary-options {
    float: left;
    font-size: 30px;
    margin-right: 10px;
}

.op-installments-secondary-options {
    float: left;
    font-family: Arial;
    font-size: 11px;
}

.op-installments-secondary-options .op-installments-section {
    margin: 3px 0;
}

@media screen and (max-width: 767px) {
    .mercadopago-popup main {
        max-height: 90%;
        padding: 15px 10px 10px;
        top: 5%;
        width: 310px;
    }

    .mercadopago-popup .btn-close-popup {
        right: 5px;
        top: 5px;
    }

    .mercadopago-popup h2 {
        font-size: 18px;
    }

    .mercadopago-popup h3 {
        font-size: 14px;
    }

    .cards-column {
        min-width: 85px;
    }

    .data-column {
        padding: 0 10px;
    }

    #paymentCost label {
        padding-bottom: 5px;
        width: 100%;
    }

    #op-bank-select select {
        width: 100%;
    }

    .pay-box label {
        width: 100%;
    }

    .op-installments {
        border-bottom: none;
    }

    .op-price-box {
        margin: 5px 0 -5px;
        width: 120px;
    }

    .op-price,
    .op-installments-free-text {
        float: none;
        margin-left: 0;
    }

    .op-submit {
        padding: 0;
    }

    .op-submit .button {
        width: 100%;
    }

    .op-installments-secondary-options {
        float: none;
    }

    .op-installments-secondary-options .op-installments-section {
        display: inline-block;
    }

    .op-installments-secondary-options .op-installments-section:first-child:after {
        content: '/';
        display: inline-block;
    }
}

#selectPayment{
    border-radius: 3px;
}

#op-payment-cards-list{
    padding-left: 0px;
    margin-bottom: 0px;
}

.payment-titles .title-border-line{
    margin-top: 0px;
    margin-bottom: 0.5em;
}

#title-payment-cards{
    margin-top: 0px;
}