/*
 *
 * Checkout
 *
 */

#mercadopago_checkout_custom,
#mercadopago_checkout_custom_second_card {
    border: 1px solid #cccccc;
    box-sizing: border-box;
    margin: 0 0 10px;
    padding: 15px;
    width: 48%;
}

#mercadopago_checkout_custom {
    float: left;
}

#mercadopago_checkout_custom_second_card {
    float: right;
    position: relative;
}

#hide_second_card {
    padding: 3px 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 25px;
}
#hide_second_card:hover {
    text-decoration: none;
}

#co-mercadopago-form h3 {
    margin-top: 0;
    text-transform: uppercase;
}

.use-2-cards-box {
    clear: both;
}

#mercadopago_checkout_custom ul li {
    float: left;
    width: 100%;
}

#mercadopago_checkout_custom ul li label {
    width: 100%;
    float: left;
}

#mercadopago_checkout_custom ul li input, #mercadopago_checkout_custom ul li select {
    height: 20px;
}

#cardId,
#second_card_cardId {
    background-color: #fff !important;
    background-position: 93% 50% !important;
    height: 32px !important;
}

#cardNumber,
#second_card_cardNumber {
    background-color: #fff !important;
    background-position: 98% 50% !important;
    width: 100%;
}

#securityCode, #securityCodeOCP {
    width: 53px;
}

.cvv-mercadopago {
    display: inline-block;
    padding-right: 20px;
}

.cvv .field-tooltip .field-tooltip-content {
    left: -64px;
    top: 38px;
}

@media screen and (min-width: 768px) {
    .cvv .field-tooltip .field-tooltip-content:before {
        left: 64px;
        top: -20px;
        transform: rotate(90deg);
    }

    .cvv .field-tooltip .field-tooltip-content:after {
        left: 64px;
        top: -19px;
        transform: rotate(90deg);
        width: 0;
    }
}

@media screen and (max-width: 767px) {
    .cvv .field-tooltip .field-tooltip-content:before,
    .cvv .field-tooltip .field-tooltip-content:after {
        left: 64px;
        right: auto;
        top: 2px;
    }
}

.cvv .field-tooltip {
    left: 65px;
}

#doc_type__mp,
#second_card_doc_type__mp {
    display: inline-block;
    margin-right: 1px;
    margin-top: 28px;
    width: 90px;
}

#doc_number__mp,
#second_card_doc_number__mp {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

#doc_number__mp .control,
#second_card_doc_number__mp .control {
    margin-top: 28px;
}

.document-box {
    margin: 0 0 20px !important;
    position: relative;
}

.document-box label {
    display: inline-block;
    font-weight: 600;
    left: 0;
    margin: 0 0 8px;
    position: absolute;
    white-space: nowrap;
}

.document-box.required label:after {
    content: '*';
    color: #e02b27;
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}

#docNumber.mage-error,
#second_card_docNumber.mage-error {
    margin-bottom: 24px;
}

#docNumber-error,
#second_card_docNumber-error {
    bottom: 0;
    position: absolute;
    left: 0;
    white-space: nowrap;
}

#box_month, #box_year {
    width: 130px;
    float: left;
}

#box_month select, #box_year select {
    width: 130px;
}

#box_month {
    margin: 0 5px 0 0;
}

#securityCodeOCP__mp {
    margin-bottom: 20px;
}

.message-error {
    display: none;
}

.message-error span {
    color: #e02b27;
    font-size: 1.2rem;
    margin-top: 7px;
}

input.has-error,
select.has-error,
textarea.has-error {
    border-color: #ed8380;
}

#mercadopago_checkout_custom_ticket .form-mercadopago {
    padding-left: 0px;
}

.action_ocp {
    cursor: pointer;
    width: 160px;
}

#return_list_card_mp {
    display: none;
}

.mercadopago-discount-options {
    margin: 0 0 20px;
}

/*
 *
 * Pagina de sucesso
 *
 */

#mensagem_mp {
    float: left;
}

#mensagem_mp h4 {
    font-size: 18px;
}

#mensagem_mp .status {
    font-size: 14px;
}

.voltar {
    text-transform: uppercase;
}

#logo_mp {
    float: left;
    /*text-align: center;*/
    width: 100%;
    margin: 40px 0 0 0;
}

.btn-boleto {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    background-color: #36A1F1;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #36A1F1), color-stop(100%, #0F79C9));
    background-image: -webkit-linear-gradient(#36A1F1, #0F79C9);
    background-image: -moz-linear-gradient(#36A1F1, #0F79C9);
    background-image: -o-linear-gradient(#36A1F1, #0F79C9);
    background-image: linear-gradient(#36A1F1, #0F79C9);
    -webkit-box-shadow: inset 0 1px #97DCFF;
    box-shadow: 0 1px #97DCFF inset;
    color: #FFF !important;
    border: 1px solid #0D6FB9;
    border-radius: 4px 4px 4px 4px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 1.25em;
    padding: 6px 12px;
    font-size: 20px;
}

/*
 *
 *
 */

#standard_banner_checkout {
    width: 100%;
    float: left;
}

@media screen and (max-width: 500px) {
    .banner_checkout_mp {
        width: 100%;
        margin: 0 0 5px 0;
    }

    .box-mes {
        width: 100%;
    }

    .box-ano {
        width: 100%;
        margin: 10px 0 0 0;
    }

    .box-mes select {
        width: 50%;
    }

    .box-ano select {
        width: 50%;
    }

    #mercadopago_transparent_doc {
        width: 50%;
    }

    #status {
        margin: 0 0 10px 0;
    }

    iframe#checkout_mercadopago {
        float: left;
        width: 100% !important;
    }

    .form-list.mercadopago {
        float: left;
        min-width: 100%;
        width: 100%;
        margin: 0 15px 0 0px;
    }
}

#mercadopago-loading {
    display: none;
    margin: -5px 0 10px 0;
    float: left;
    width: 100%;
}

.msg-status {
    display: none;
}

.mercadopago-message-coupon {
    margin: 5px 0 -5px 0px;
    float: left;
    width: 92%;
    padding: 0;
}

.mercadopago-message-coupon li {
    display: none;
}

.mercadopago-coupon-action-apply, .mercadopago-coupon-action-remove {
    cursor: pointer;
    float: left;
    font-size: 10px;
    border: 1px solid #cecece;
    text-transform: uppercase;
    padding: 2px 7px;
    border-radius: 5px;
    background-color: #F0F0F0;
    margin: 5px 0 0 0;
}

.mercadopago-coupon-action-remove {
    display: none;
}

.mercadopago-message-coupon p {
    margin: 0 0 0 0;
}

.mercadopago-focus {
    color: #004098;
    font-family: arial;
    font-weight: bold;
}

.discount-ok {
    padding: 10px;
    border: 1px solid #cecece;
    background-color: #F0F0F0;
    float: left;
}

.error-installment-not-work {
    cursor: pointer;
}

.mercadopago-info-discount li {
    display: block !important;
    float: left;
    width: 100%;
    margin: 0 !important;
}

.mercadopago-discount-options {
    display: inline-block;
}

.mercadopago-ticket-label {
    vertical-align: top;
}

.optionsTicketMp {
    float: left;
    margin-right: 10px;
}

.banner_checkout_mp {
    max-width: 100%;
    max-height: 100%;
}

.cft-info {
    color: #A0A0A0;
    font-weight: bold;
    font-size: 40px;
    padding: 5px;
    margin-bottom: 0px !important;
}

.tea-info {
    color: #A0A0A0;
    padding: 5px;
    margin-bottom: -12px !important;
}

.total_buy_price {
    font-weight: bold;
}

.total_buy_price:before {
    content: '$';
}

#mercadopago_calculator_link {
    display: block;
    margin: 5px 0 15px;
}

#mercadopago_calculator_link a,
#mercadopago_calculator_link img {
    display: inline-block;
    vertical-align: middle;
}

#mercadopago_calculator_link p{
    margin-bottom: 0px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 900px) {
    #mercadopago_checkout_custom,
    #mercadopago_checkout_custom_second_card {
        margin: 0 0 15px;
        width: 100%;
    }

    .checkout-payment-method .ccard .month .select {
        width: 135px;
    }

    .checkout-payment-method .ccard .year .select {
        width: 65px;
    }

    #second_card_docType {
        max-width: 90px;
    }
}

@media screen and (max-width: 767px) {
    #mercadopago_checkout_custom,
    #mercadopago_checkout_custom_second_card {
        width: 49%;
    }
}

@media screen and (max-width: 540px) {
    #mercadopago_checkout_custom,
    #mercadopago_checkout_custom_second_card {
        width: 100%;
    }
}