<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="mercadopago_core_standard_provider" xsi:type="object">MercadoPago\Core\Model\StandardConfigProvider</item>
                <item name="mercadopago_core_custom_provider" xsi:type="object">MercadoPago\Core\Model\CustomConfigProvider</item>
                <item name="mercadopago_core_customTicket_provider" xsi:type="object">MercadoPago\Core\Model\CustomTicketConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="mercadopago_custom" xsi:type="const">MercadoPago\Core\Model\Custom\Payment::CODE</item>
                <item name="mercadopago_customticket" xsi:type="const">MercadoPago\Core\Model\CustomTicket\Payment::CODE</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\UrlInterface" type="Magento\Framework\Url" />
</config>