default:
  autoload:
    '': %paths.base%/functional/features/bootstrap
  suites:
    default:
      paths:
        features: functional/features
  extensions:
    Cjm\Behat\StepThroughExtension: ~
    Bex\Behat\Magento2InitExtension: ~
    Behat\MinkExtension:
      base_url: "%MAGENTO_URL%"
      selenium2:
        wd_host: http://127.0.0.1:4444/wd/hub
        browser: %BROWSER_DRIVER%