<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../vendor/magento/module-config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="mercadopago" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mercado Pago - Global Configuration</label>

                <field id="country" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Country</label>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Country</source_model>
                </field>
                <field id="category_id" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Category of your store</label>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Category</source_model>
                </field>
                <field id="use_successpage_mp" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Use Mercado Pago success page</label>
                    <comment>If set this config with NO, magento success page will be used</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="consider_discount" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Consider Discounts</label>
                    <comment>Consider discount of Mercado Pago to invoicing</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="heading_order_status_cron" translate="label" sortOrder="13" showInDefault="1" showInWebsite="1">
                    <label>Order Status Update - Cron Configuration</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>

                <field id="time_between_verifications" translate="label" type="text" sortOrder="15" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Time between verifications</label>
                </field>
                <!-- requiere verificacion de, vacio, y que solo sea nuemeros-->
                <field id="number_of_hours" translate="label comment" type="text" sortOrder="18" showInDefault="1" showInStore="0" showInWebsite="0">
                    <label>Number of hours</label>
                    <comment>Try to update all the orders created 'Amount of hours' before time to the moment to execute the cron</comment>
                </field>

                <field id="heading_refund" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Refund Options</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="refund_available" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Refund Available</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="maximum_partial_refunds" translate="label comment" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Maximum amount of partial refunds on the same order</label>
                    <frontend_class>validate-number-range number-range-1-20</frontend_class>
                    <comment>It must be a number between 1 and 20</comment>
                </field>

                <field id="maximum_days_refund" translate="label comment" type="text" sortOrder="27" showInDefault="1" showInStore="0" showInWebsite="1">
                    <label>Maximum amount of days until refund is not accepted</label>
                    <frontend_class>validate-number-range number-range-1-90</frontend_class>
                    <comment>It must be a number between 1 and 90</comment>
                </field>
                <field id="order_status_partially_refunded" translate="label" type="select" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Choose the status when payment was partially refunded</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Order\Status</source_model>
                </field>


                <field id="heading_order_status" translate="label" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Order Status Options</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="order_status_approved" translate="label" type="select" sortOrder="51" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Choose the status of approved orders</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_status_in_process" translate="label" type="select" sortOrder="53" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Choose the status when payment is pending</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_status_rejected" translate="label" type="select" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Choose the status when payment was reject</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_status_cancelled" translate="label" type="select" sortOrder="57" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Choose the status when payment was canceled</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_status_chargeback" translate="label" type="select" sortOrder="59" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Choose the status when payment was charge back</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_status_in_mediation" translate="label" type="select" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Choose the status when client open a mediation</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Order\Status</source_model>
                </field>
                <field id="order_status_refunded" translate="label" type="select" sortOrder="63" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Choose the status of refunded orders</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Order\Status</source_model>
                </field>

                <field id="heading_developer" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1">
                    <label>Developer Options</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="logs" translate="label" type="select" sortOrder="81" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Logs</label>
                    <comment>Enable logs to analyse plugin activity</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug_mode" translate="label" type="select" sortOrder="83" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Debug Mode</label>
                    <comment>Enable to display actual error messages to frontend users (not recommended on production environment)</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <!-- BEGIN : Mercado Pago - Payments Calculator -->
                <field id="heading_calculator" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1">
                    <label>Payments Calculator</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                    <attribute type="shared">1</attribute>
                </field>
                <field id="calculalator_available" translate="label" type="select" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="0" >
                    <label>Enable Mercado Pago Installments Calculator</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>if set to YES, Calculator will appear on the selected pages - Custom checkout credentials (Public Key and Access Token) must be set</comment>
                </field>
                <field id="show_in_pages" translate="label" type="multiselect" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                    <!--<can_be_empty>1</can_be_empty>-->
                    <label>Show Calculator on selected pages</label>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\ListPages</source_model>
                </field>
                <!-- END : Mercado Pago - Payments Calculator -->

            </group>
            <group id="mercadopago_custom" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mercado Pago - Custom Checkout</label>
                <field id="public_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Public Key</label>
                </field>
                <field id="access_token" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Access Token</label>
                    <comment><![CDATA[
                                <span>Click to get your Access Token for: </span>
                                <a href="https://www.mercadopago.com/mla/account/credentials" target="_blank">Argentina</a>
                                <a href="https://www.mercadopago.com/mlb/account/credentials" target="_blank">Brazil</a><br>
                                <a href="https://www.mercadopago.com/mco/account/credentials" target="_blank">Colombia</a>
                                <a href="https://www.mercadopago.com/mlm/account/credentials" target="_blank">Mexico</a>
                                <a href="https://www.mercadopago.com/mlv/account/credentials" target="_blank">Venezuela</a>
                                <a href="https://www.mercadopago.com/mlc/account/credentials" target="_blank">Chile</a>
                                <a href="https://www.mercadopago.com/mpe/account/credentials" target="_blank">Peru</a>
                                <a href="https://www.mercadopago.com/mlu/account/credentials" target="_blank">Uruguay</a>
                                ]]>
                    </comment>
                </field>
                <group id="custom_checkout" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Checkout- Credit Card</label>
                    <frontend_model>MercadoPago\Core\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <field id="active" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_custom/active</config_path>
                        <comment>
                            <![CDATA[It is a requirement that you have a SSL certificate, and the payment form to be provided under an HTTPS page.
                                        During the sandbox mode tests, you can operate over HTTP,
                                        but for homologation you'll need to acquire the certificate in case you don't have it.
                                        <a href="https://www.mercadopago.com.ar/developers/solutions/payments/custom-checkout/appliance-requirements/" target="_blank">Learn More</a>]]>
                        </comment>
                    </field>
                    <field id="allow_2_cards" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Allow Payment with 2 Cards</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_custom/allow_2_cards</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Title</label>
                        <config_path>payment/mercadopago_custom/title</config_path>
                    </field>
                    <field id="statement_descriptor" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Statement Descriptor</label>
                        <comment>Check availability for your country</comment>
                        <config_path>payment/mercadopago_custom/statement_descriptor</config_path>
                    </field>
                    <field id="binary_mode" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Binary Mode</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_custom/binary_mode</config_path>
                    </field>
                    <field id="banner_checkout" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Banner Checkout</label>
                        <config_path>payment/mercadopago_custom/banner_checkout</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Checkout Position</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/mercadopago_custom/sort_order</config_path>
                    </field>
                    <field id="coupon_mercadopago" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Marketing - Coupon Mercado Pago</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_custom/coupon_mercadopago</config_path>
                    </field>
                </group>
                <group id="customticket_checkout" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Checkout - Ticket</label>
                    <frontend_model>MercadoPago\Core\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <field id="active" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_customticket/active</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Title</label>
                        <config_path>payment/mercadopago_customticket/title</config_path>
                    </field>
                    <field id="banner_checkout" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Banner Checkout</label>
                        <config_path>payment/mercadopago_customticket/banner_checkout</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Checkout Position</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/mercadopago_customticket/sort_order</config_path>
                    </field>
                    <field id="coupon_mercadopago" translate="label" type="select" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Marketing - Coupon Mercado Pago</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_customticket/coupon_mercadopago</config_path>
                    </field>
                </group>
            </group>
            <group id="mercadopago_standard" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mercado Pago - Classic Checkout</label>
                <group id="checkout" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Classic Checkout</label>
                    <frontend_model>MercadoPago\Core\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <field id="active" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Enabled</label>
                        <comment>For the operation of the Checkout Standard is necessary to configure the Credentials 'CLIENT_ID' and 'CLIENT_SECRET' below</comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_standard/active</config_path>
                    </field>
                    <field id="client_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Client Id</label>
                        <config_path>payment/mercadopago_standard/client_id</config_path>
                    </field>
                    <field id="client_secret" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Client Secret</label>
                        <config_path>payment/mercadopago_standard/client_secret</config_path>
                    </field>
                    <field id="title" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Title</label>
                        <config_path>payment/mercadopago_standard/title</config_path>
                    </field>
                    <field id="banner_checkout" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Banner Checkout</label>
                        <config_path>payment/mercadopago_standard/banner_checkout</config_path>
                    </field>
                    <field id="sort_order" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Checkout Position</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/mercadopago_standard/sort_order</config_path>
                    </field>
                    <field id="type_checkout" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Type Checkout</label>
                        <source_model>MercadoPago\Core\Model\System\Config\Source\TypeCheckout</source_model>
                        <config_path>payment/mercadopago_standard/type_checkout</config_path>
                    </field>
                    <field id="auto_return" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Auto Redirect</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_standard/auto_return</config_path>
                    </field>
                    <field id="excluded_payment_methods" translate="label" type="multiselect" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Exclude Payment Methods</label>
                        <source_model>MercadoPago\Core\Model\System\Config\Source\PaymentMethods</source_model>
                        <config_path>payment/mercadopago_standard/excluded_payment_methods</config_path>
                    </field>
                    <field id="installments" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Maximum number of accepted installments</label>
                        <source_model>MercadoPago\Core\Model\System\Config\Source\Installments</source_model>
                        <config_path>payment/mercadopago_standard/installments</config_path>
                    </field>
                    <field id="iframe_width" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Width Checkout Iframe</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/mercadopago_standard/iframe_width</config_path>
                    </field>
                    <field id="iframe_height" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Height Checkout Iframe</label>
                        <frontend_class>validate-number</frontend_class>
                        <config_path>payment/mercadopago_standard/iframe_height</config_path>
                    </field>
                    <field id="sandbox_mode" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sandbox Mode</label>
                        <comment>Enable to test checkout with real credit cards. For further information check this link: <![CDATA[<a href="https://www.mercadopago.com.ar/developers/en/solutions/payments/basic-checkout/test/basic-sandbox/" target="_blank">Basic Checkout Sandbox</a>]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/mercadopago_standard/sandbox_mode</config_path>
                    </field>
                </group>
            </group>
        </section>
    </system>
</config>