<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- Mercado Pago Logo -->
            <span data-bind="text: getTitle()"></span>
            <!-- Mercado Pago Logo -->
            <img data-bind="attr: {alt: 'Mercado Pago',src:getLogoUrl()}"
                 class="payment-icon"/>
        </label>
        <div class="class-custom-banner-checkout">
            <img data-bind="attr: {alt: 'MercadoPago Banner', src: getBannerUrl()}"
                 class="payment-banner-checkout"/>
        </div>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div id="mercadopago-loading">
            <!--<img src="<?php echo $this->getSkinUrl('mercadopago/images/loading.gif'); ?>" alt="loading"/>-->
        </div>

        <form class="form" id="co-mercadopago-form" action="#" method="post" data-bind="mageInit: {
            'transparent':{
                'context': context(),
                'controller': getControllerName(),
                'gateway': getCode(),
                'orderSaveUrl':getPlaceOrderUrl(),
                'cgiUrl': getCgiUrl(),
                'dateDelim': getDateDelim(),
                'cardFieldsMap': getCardFieldsMap(),
                'nativeAction': getSaveOrderUrl()
            }, 'validation':[]}">

            <div id="mercadopago_checkout_custom">
                <div class="form-list" id="payment_form_mercadopago_custom" style="">
                    <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">

                        <!-- ko if: isCouponEnabled() -->
                        <!-- ko template: 'MercadoPago_Core/payment/discount' --><!-- /ko -->
                        <!-- /ko -->

                        <div id="first_card_amount_fields" class="field" style="display: none;">
                            <h3><!-- ko i18n: '1st Card'--><!-- /ko --></h3>
                            <label for="first_card_amount" class="label"><!-- ko i18n: 'Amount'--><!-- /ko --></label>
                            <input type="text" id="first_card_amount" class="required-entry" max="" />
                        </div>

                        <!-- ko if: isOCPReady() -->
                        <div id="mercadopago_checkout_custom_ocp" class="fields">
                            <div class="field">
                                <button id="use_other_card_mp" class="action_ocp action primary" type="button"><span><!-- ko i18n: 'Use other card'--><!-- /ko --></span></button>
                            </div>

                            <div id="cardId__mp" class="field">
                                <label for="cardNumber" class="label"><!-- ko i18n: 'Payment Method'--><!-- /ko --></label>
                                <select id="cardId" data-checkout="cardId" data-element-id="#cardId__mp" data-bind="attr: {name: getTokenCodeArray('cardId')}, options: getAvailableCards(), optionsText: 'cardName', optionsValue: 'value', optionsAfterRender: setOptionsExtraValues" >
                                </select>
                                <input type="hidden" id="customer_id" data-bind="attr: {name: getTokenCodeArray('customer_id'), value: getCustomerAttribute('id')}">
                            </div>

                            <div class="field cvv required" id="securityCodeOCP__mp">
                                <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label"><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></label>
                                <div class="control _with-tooltip cvv-mercadopago">
                                    <input type="number"
                                           autocomplete="off"
                                           class="input-text cvv"
                                           name="payment[cc_cid]"
                                           id="securityCodeOCP"
                                           data-checkout="securityCode"
                                           data-element-id="#securityCodeOCP__mp"
                                           data-bind="attr: {title: $t('Card Verification Number'),
                                                'data-container': getCode() + '-cc-cvv',
                                                'data-validate': JSON.stringify({'required-number':true})},
                                                enable: isActive($parents),
                                                value: creditCardVerificationNumber"/>
                                    <div class="field-tooltip toggle">
                                        <span class="field-tooltip-action action-cvv"
                                              tabindex="0"
                                              data-toggle="dropdown"
                                              data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                            <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                                        </span>
                                        <div class="field-tooltip-content" data-target="dropdown" data-bind="html: getCvvImageHtml()"></div>
                                    </div>
                                </div>
                                <p class="message-error error-E302 error-224 validation-advice"><!-- ko i18n: 'CVV is invalid.'--><!-- /ko --></p>
                            </div>
                        </div>
                        <!-- /ko -->

                        <div id="mercadopago_checkout_custom_card" class="fields">
                            <button id="return_list_card_mp" class="action_ocp action primary field" type="button"><!-- ko i18n: 'Return to cards list'--><!-- /ko --></button>

                            <div id="cardNumber__mp" class="field number required">
                                <label for="cardNumber" class="label"><!-- ko i18n: 'Card Number'--><!-- /ko --></label>
                                <div class="control">
                                    <input type="text" id="cardNumber" data-checkout="cardNumber"
                                           data-element-id="#cardNumber__mp" class="input-text"
                                           data-bind="attr: {'data-validate': JSON.stringify({'required-number':true)}"/>
                                </div>
                                <p class="message-error error-payment-method-not-found error-E301 error-205 validation-advice"><!-- ko i18n: 'Card number is invalid.'--><!-- /ko --></p>
                                <p class="message-error error-payment-method-min-amount validation-advice"><!-- ko i18n: 'Cannot pay this amount with this payment_method_id.'--><!-- /ko --></p>
                            </div>

                            <div id="cardholderName__mp" class="field required">
                                <label for="cardholderName" class="label"><!-- ko i18n: 'Card Holder Name'--><!-- /ko --></label>
                                <div class="control">
                                    <input type="text" id="cardholderName" data-checkout="cardholderName"
                                           data-bind="attr: {name: getTokenCodeArray('card_holder_name'), 'data-validate': JSON.stringify({'required':true})}"
                                           data-element-id="#cardholderName__mp"
                                    />
                                </div>
                                <p class="message-error error-316 validation-advice"><!-- ko i18n: 'Card Holder Name is invalid.'--><!-- /ko --></p>
                            </div>

                            <div id="paymentMethod__mp" class="field">
                                <label for="paymentMethod" class="label"><!-- ko i18n: 'Payment Method'--><!-- /ko --></label>
                                <select id="paymentMethod" data-checkout="paymentMethod"
                                        data-bind="attr: {name: getTokenCodeArray('paymentMethod')}"
                                        data-element-id="#paymentMethod__mp" class="validate-select"></select>
                            </div>

                            <div id="issuer__mp" class="field">
                                <label for="issuer" class="label"><!-- ko i18n: 'Banks'--><!-- /ko --></label>
                                <select id="issuer" data-bind="attr: {name: getTokenCodeArray('issuer_id')}" data-checkout="issuer" data-element-id="#issuer__mp"></select>
                                <p class="message-error error-220 validation-advice"><!-- ko i18n: 'Select issuer'--><!-- /ko --></p>
                            </div>

                            <div class="field date required" id="expiration_date__mp">
                                <label data-bind="attr: {for: getCode() + '_expiration'}" class="label"><!-- ko i18n: 'Expiration Date'--><!-- /ko --></label>
                                <div class="control">
                                    <div class="fields group">
                                        <div class="field no-label month">
                                            <div class="control">
                                                <select name="payment[cc_exp_month]"
                                                        class="select select-month"
                                                        id="cardExpirationMonth"
                                                        data-checkout="cardExpirationMonth"
                                                        data-element-id="#expiration_date__mp"
                                                        data-bind="attr: {'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Month'),
                                            value: creditCardExpMonth">
                                                </select>
                                            </div>
                                            <p class="message-error error-325 error-208 validation-advice"><!-- ko i18n: 'Month is invalid.'--><!-- /ko --></p>
                                        </div>
                                        <div class="field no-label year">
                                            <div class="control">
                                                <select name="payment[cc_exp_year]"
                                                        class="select select-year"
                                                        id="cardExpirationYear"
                                                        data-checkout="cardExpirationYear"
                                                        data-element-id="#expiration_date__mp"
                                                        data-bind="attr: {'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year'),
                                           value: creditCardExpYear">
                                                </select>
                                            </div>
                                            <p class="message-error error-326 error-209 validation-advice"><!-- ko i18n: 'Year is invalid.'--><!-- /ko --></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field cvv required" id="securityCode__mp">
                                <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label"><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></label>
                                <div class="control _with-tooltip cvv-mercadopago">
                                    <input type="number"
                                           autocomplete="off"
                                           class="input-text cvv"
                                           name="payment[cc_cid]"
                                           id="securityCode"
                                           data-checkout="securityCode"
                                           data-element-id="#securityCode__mp"
                                           data-bind="attr: {title: $t('Card Verification Number'),
                                                'data-container': getCode() + '-cc-cvv',
                                                'data-validate': JSON.stringify({'required-number':true})},
                                                enable: isActive($parents),
                                                value: creditCardVerificationNumber"/>
                                    <div class="field-tooltip toggle">
                                        <span class="field-tooltip-action action-cvv"
                                              tabindex="0"
                                              data-toggle="dropdown"
                                              data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                            <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                                        </span>
                                        <div class="field-tooltip-content"
                                             data-target="dropdown"
                                             data-bind="html: getCvvImageHtml()">
                                        </div>
                                    </div>
                                </div>
                                <p class="message-error error-E302 error-224 validation-advice"><!-- ko i18n: 'CVV is invalid.'--><!-- /ko --></p>
                            </div>

                            <div class="document-box field required">
                                <div id="doc_type__mp" class="required">
                                    <select id="docType" data-checkout="docType" data-element-id="#doc_type__mp"
                                            data-bind="attr: {name: getTokenCodeArray('doc_type')}"></select>
                                    <p class="message-error error-322 error-212 validation-advice"><!-- ko i18n: 'Document Type is invalid.'--><!-- /ko --></p>
                                </div>

                                <div id="doc_number__mp" class="number required">
                                    <label for="docNumber" class="label"><!-- ko i18n: 'Document Number'--><!-- /ko --></label>
                                    <div class="control">
                                        <input type="text" id="docNumber" class="mp-validate-docnumber" data-checkout="docNumber"
                                               name="payment[<?php echo $_code; ?>][doc_number]" data-element-id="#doc_number__mp"
                                               data-bind="attr: {'data-validate': JSON.stringify({'required-number':true, 'mp-validate-docnumber':'#docNumber'})}" />
                                    </div>
                                    <p class="message-error error-324 error-213 error-214 validation-advice"><!-- ko i18n: 'Document Number is invalid'--><!-- /ko --></p>
                                </div>
                            </div>

                            <div id="installments__mp" class="field">
                                <label for="installments" class="label"><!-- ko i18n: 'Installments'--><!-- /ko --></label>
                                <select id="installments" data-bind="attr: {name: getTokenCodeArray('installments')}"
                                        data-element-id="#installments__mp" class="validate-select"></select>
                                <p class="message-error error-installment-not-work validation-advice"><!-- ko i18n: 'It was not possible to calculate the installments, click here and try again.'--><!-- /ko --></p>
                                <p class="message-error error-011 validation-advice"><!-- ko i18n: 'An error has occurred. Please refresh the page.'--><!-- /ko --></p>
                                <p class="message-error error-other validation-advice"><!-- ko i18n: 'Please validate your data.'--><!-- /ko --></p>
                            </div>

                            <div class="legal-info">
                                <p class="tea-info tea-info-first-card">TEA: 0,00%</p>
                                <p class="cft-info cft-info-first-card">CFT: 0,00%</p>
                            </div>
                        </div>

                        <div>
                            <input type="hidden" class="total_amount" name="total_amount"
                                   data-bind="attr: {value: getGrandTotal()}"/>
                            <input type="hidden" class="amount" name="amount" data-bind="attr: {value: getInitialGrandTotal()}"/>
                            <input type="hidden" class="mercadopago-discount-amount" name="mercadopago-discount-amount"
                                   value="0"/>
                            <input type="hidden" class="site_id" name="site_id" data-bind="attr: {value: getCountry()}"/>
                            <!--TODO translate strings below-->
                            <input type="hidden" class="mercadopago-text-currency" value="$">
                            <input type="hidden" class="mercadopago-text-choice" value="Select">
                            <input type="hidden" class="mercadopago-text-default-issuer" value="Default issuer">
                            <input type="hidden" class="mercadopago-text-installment" value="Enter the card number">
                            <input type="hidden" class="mercado_base_url" data-bind="attr: {value: getBaseUrl()}">
                            <input type="hidden" class="mercado_route" data-bind="attr: {value: getRoute()}">
                            <input type="hidden" data-bind="attr: {name: getTokenCodeArray('token')}" value="" id='token' class="token"/>
                            <input type="hidden" data-bind="attr: {name: getTokenCodeArray('payment_method_id')}" value="" id="payment_method_id" class="payment_method_id"/>
                            <input type="hidden" id="one_click_pay_mp" data-bind="attr: {name: getTokenCodeArray('one_click_pay'), value:isOCPReady()}">
                        </div>
                        <div id="mercadopago-init" data-bind="template: {afterRender: initApp()}"></div>
                    </fieldset>
                </div>
            </div>

            <!-- ko if: isSecondCardEnabled() -->
            <!-- ko template: 'MercadoPago_Core/payment/second_card' --><!-- /ko -->
            <!-- /ko -->

            <div class="total_buy">
                <label><!-- ko i18n: 'Total amount:'--><!-- /ko --></label>
                <span class="total_buy_price" data-bind="html: getInitialGrandTotal()"> </span>
            </div>
        </form>

        <!--<div id="custom_banner_checkout">-->
            <!--<img class="banner_checkout_mp" data-bind="attr: {src: getBannerUrl()}"/>-->
        <!--</div>-->

        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button data-role="review-save"
                        type="submit"
                        id="mp-custom-save-payment"
                        data-bind="
                        attr: {title: $t('Place Order')},
                        enable: (getCode() == isChecked()),
                        click: placeOrder,
                        css: {disabled: !isPlaceOrderActionAllowed()}
                        "
                        class="action primary checkout"
                        disabled>
                    <span data-bind="i18n: 'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>