<div id="mercadopago_checkout_custom_second_card" style="display: none">
    <button type="button" data-toggle="tooltip" title="Back to only one card" id="hide_second_card" class="action_ocp action primary">X</button>

    <div class="second_card_total_buy" style="display: none;">
        <label><!-- ko i18n: 'Total amount'--><!-- /ko --> :</label>
        <span class="second_card_total_buy_price" data-bind="html: getInitialGrandTotal()">.-</span>
    </div>

    <div class="form-list" id="second_card_payment_form_mercadopago_custom">
        <fieldset data-bind="attr: {class: 'fieldset payment items ccard ' + getCode(), id: 'payment_form_' + getCode()}">
            <li id="secondCardAmount" class="field">
                <h3><!-- ko i18n: '2nd Card'--><!-- /ko --></h3>
                <label for="second_card_amount" class="label"><!-- ko i18n: 'Remaining Amount'--><!-- /ko --></label>
                <input type="text" id="second_card_amount" class="required-entry" readonly disabled />
            </li>

            <!-- ko if: isOCPReady() -->
            <div id="second_card_payment" class="fields">
                <div class="field">
                    <button id="second_card_use_other_card_mp" class="action_ocp action primary" type="button"><!-- ko i18n: 'Use other card'--><!-- /ko --></button>
                </div>

                <div id="second_card_cardId__mp" class="field">
                    <label for="second_card_cardId" class="label"><!-- ko i18n: 'Payment Method'--><!-- /ko --></label>
                    <select id="second_card_cardId" data-checkout="cardId" data-element-id="#second_card_cardId__mp"
                            data-bind="attr: {name: getTokenCodeArray('cardId')},
                                       options: getAvailableCards(), optionsText: 'cardName', optionsValue: 'value',
                                       optionsAfterRender: setOptionsExtraValues" >
                    </select>
                    <input type="hidden" id="customer_id" data-bind="attr: {name: getTokenCodeArray('customer_id'), value: getCustomerAttribute('id')}">
                </div>

                <div class="field cvv required" id="second_card_securityCodeOCP__mp">
                    <label data-bind="attr: {for: getCode() + '_cc_cid'}" class="label">
                        <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip cvv-mercadopago">
                        <input type="number"
                               autocomplete="off"
                               class="input-text cvv validate-no-empty"
                               name="test_second_card"
                               id="second_card_securityCodeOCP"
                               data-checkout="securityCode"
                               data-element-id="#second_card_securityCodeOCP__mp"
                               data-bind="attr: {title: $t('Card Verification Number'),
                                                'data-container': getCode() + '-cc-cvv',
                                                'data-validate': JSON.stringify({'required-number':true})},
                                                enable: isActive($parents)"/>
                        <div class="field-tooltip toggle">
                                        <span class="field-tooltip-action action-cvv"
                                              tabindex="0"
                                              data-toggle="dropdown"
                                              data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                            <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                                        </span>
                            <div class="field-tooltip-content" data-target="dropdown" data-bind="html: getCvvImageHtml()"></div>
                        </div>
                    </div>
                    <p class="message-error second_card_error-E302 second_card_error-224 validation-advice"><!-- ko i18n: 'CVV is invalid.'--><!-- /ko --></p>
                </div>
            </div>

            <div class="field">
                <button id="second_card_return_list_card_mp" class="action_ocp action primary" type="button"><span><!-- ko i18n: 'Return to cards list'--><!-- /ko --></span></button>
            </div>

            <!-- /ko -->

            <div id="second_card_mercadopago_checkout_custom" class="fields">
                <div id="second_card_cardNumber__mp" class="field number required">
                    <label for="second_card_cardNumber" class="label">
                        <span><!-- ko i18n: 'Card Number'--><!-- /ko --></span></label>
                    <div class="control">
                        <input type="text" id="second_card_cardNumber" data-checkout="cardNumber"
                               data-element-id="#second_card_cardNumber__mp" class="input-text"
                               data-bind="attr: {'data-validate': JSON.stringify({'required-number':true, 'validate-card-number':'#second_card_cardNumber'})}"/>
                    </div>
                    <p class="message-error second_card_error-payment-method-not-found second_card_error-E301 second_card_error-205 validation-advice"><!-- ko i18n: 'Card number is invalid.'--><!-- /ko --></p>
                    <p class="message-error second_card_error-payment-method-min-amount validation-advice"><!-- ko i18n: 'Cannot pay this amount with this payment_method_id.'--><!-- /ko --></p>
                </div>

                <div id="second_card_cardholderName__mp" class="field required">
                    <label for="second_card_cardholderName" class="label">
                        <span><!-- ko i18n: 'Card Holder Name'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <input type="text" id="second_card_cardholderName" data-checkout="cardholderName"
                               data-bind="attr: {name: getTokenCodeArray('second_card_card_holder_name'), 'data-validate': JSON.stringify({'required':true})}"
                               data-element-id="#second_card_cardholderName__mp"
                        />
                    </div>
                    <p class="message-error second_card_error-316 validation-advice"><!-- ko i18n: 'Card Holder Name is invalid.'--><!-- /ko --></p>
                </div>

                <div id="second_card_paymentMethod__mp" class="field">
                    <label for="second_card_paymentMethod" class="label">Payment Method</label>
                    <select id="second_card_paymentMethod" data-checkout="paymentMethod"
                            data-bind="attr: {name: getTokenCodeArray('second_card_paymentMethod')}"
                            data-element-id="#second_card_paymentMethod__mp" class="validate-select"></select>
                </div>

                <div id="second_card_issuer__mp" class="field">
                    <label for="second_card_issuer" class="label">Banks</label>
                    <select id="second_card_issuer" data-bind="attr: {name: getTokenCodeArray('second_card_issuer_id')}" data-checkout="issuer" data-element-id="#second_card_issuer__mp"></select>
                    <p class="message-error second_card_error-220 validation-advice"><!-- ko i18n: 'Select issuer'--><!-- /ko --></p>
                </div>

                <div class="field date required" id="second_card_expiration_date__mp">
                    <label data-bind="attr: {for: getCode() + 'second_card_expiration'}" class="label">
                        <span><!-- ko i18n: 'Expiration Date'--><!-- /ko --></span>
                    </label>
                    <div class="control">
                        <div class="fields group">
                            <div class="field no-label month">
                                <div class="control">
                                    <select name="payment[second_card_cc_exp_month]"
                                            class="select select-month"
                                            id="second_card_cardExpirationMonth"
                                            data-checkout="cardExpirationMonth"
                                            data-element-id="#second_card_expiration_date__mp"
                                            data-bind="attr: {'data-container': getCode() + '-cc-month', 'data-validate': JSON.stringify({required:true})},
                                            enable: isActive($parents),
                                            options: getCcMonthsValues(),
                                            optionsValue: 'value',
                                            optionsText: 'month',
                                            optionsCaption: $t('Month')">
                                    </select>
                                </div>
                                <p class="message-error second_card_error-325 second_card_error-208 validation-advice"><!-- ko i18n: 'Month is invalid.'--><!-- /ko --></p>
                            </div>
                            <div class="field no-label year">
                                <div class="control">
                                    <select name="payment[second_card_cc_exp_year]"
                                            class="select select-year"
                                            id="second_card_cardExpirationYear"
                                            data-checkout="cardExpirationYear"
                                            data-element-id="#second_card_expiration_date__mp"
                                            data-bind="attr: {'data-container': getCode() + '-cc-year', 'data-validate': JSON.stringify({required:true})},
                                           enable: isActive($parents),
                                           options: getCcYearsValues(),
                                           optionsValue: 'value',
                                           optionsText: 'year',
                                           optionsCaption: $t('Year')">
                                    </select>
                                </div>
                                <p class="message-error second_card_error-326 second_card_error-209 validation-advice"><!-- ko i18n: 'Year is invalid.'--><!-- /ko --></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="field cvv required" id="second_card_securityCode__mp">
                    <label data-bind="attr: {for: getCode() + 'second_card_cc_cid'}" class="label">
                        <span><!-- ko i18n: 'Card Verification Number'--><!-- /ko --></span>
                    </label>
                    <div class="control _with-tooltip cvv-mercadopago">
                        <input type="number"
                               autocomplete="off"
                               class="input-text cvv"
                               id="second_card_securityCode"
                               name="test_second_card"
                               data-checkout="securityCode"
                               data-element-id="#second_card_securityCode__mp"
                               data-bind="attr: {title: $t('Card Verification Number'),
                                                'data-container': getCode() + '-cc-cvv',
                                                'data-validate': JSON.stringify({'required-number':true})},
                                                enable: isActive($parents)"/>
                        <div class="field-tooltip toggle">
                                        <span class="field-tooltip-action action-cvv"
                                              tabindex="0"
                                              data-toggle="dropdown"
                                              data-bind="attr: {title: $t('What is this?')}, mageInit: {'dropdown':{'activeClass': '_active'}}">
                                            <span><!-- ko i18n: 'What is this?'--><!-- /ko --></span>
                                        </span>
                            <div class="field-tooltip-content"
                                 data-target="dropdown"
                                 data-bind="html: getCvvImageHtml()">
                            </div>
                        </div>
                    </div>
                    <p class="message-error second_card_error-E302 second_card_error-224 validation-advice"><!-- ko i18n: 'CVV is invalid.'--><!-- /ko --></p>
                </div>

                <div class="document-box field required">
                    <div id="second_card_doc_type__mp" class="required">
                        <select id="second_card_docType" data-checkout="docType" data-element-id="#second_card_doc_type__mp"
                                data-bind="attr: {name: getTokenCodeArray('second_card_doc_type')}"></select>
                        <p class="message-error second_card_error-322 error-212 validation-advice"><!-- ko i18n: 'Document Type is invalid.'--><!-- /ko --></p>
                    </div>

                    <div id="second_card_doc_number__mp" class="number required">
                        <label for="second_card_docNumber" class="label"><!-- ko i18n: 'Document Number'--><!-- /ko --></label>
                        <div class="control">
                            <input type="text" id="second_card_docNumber" class="mp-validate-docnumber" data-checkout="docNumber"
                                   data-element-id="#second_card_doc_number__mp"
                                   data-bind="attr: {name: getTokenCodeArray('second_card_docNumber'),
                                             'data-validate': JSON.stringify({'required-number':true,
                                             'mp-validate-docnumber':'#docNumber'})}" />
                        </div>
                        <p class="message-error second_card_error-324 second_card_error-213 second_card_error-214 validation-advice"><!-- ko i18n: 'Document Number is invalid'--><!-- /ko --></p>
                    </div>
                </div>
            </div>

            <div id="second_card_installments__mp" class="field">
                <label for="second_card_installments" class="label">Installments</label>
                <select id="second_card_installments" data-bind="attr: {name: getTokenCodeArray('second_card_installments')}"
                        data-element-id="#second_card_installments__mp" class="validate-select"></select>
                <p class="message-error second_card_error-error-installment-not-work validation-advice"><!-- ko i18n: 'It was not possible to calculate the installments, click here and try again.'--><!-- /ko --></p>
                <p class="message-error second_card_error-error-011 validation-advice"><!-- ko i18n: 'An error has occurred. Please refresh the page.'--><!-- /ko --></p>
                <p class="message-error second_card_error-error-other validation-advice"><!-- ko i18n: 'Please validate your data.'--><!-- /ko --></p>

            </div>

            <div class="legal-info">
                <p class="tea-info tea-info-second-card">TEA: 0,00%</p>
                <p class="cft-info cft-info-second-card">CFT: 0,00%</p>
            </div>

            <div>
                <input type="hidden" class="second_card_mercadopago-text-installment" value="Enter the card number">
                <input type="hidden" data-bind="attr: {name: getTokenCodeArray('is_second_card_used')}" value="false" class="is_second_card_used"/>
                <input type="hidden" data-bind="attr: {name: getTokenCodeArray('second_card_token')}" value="" class="second_card_token"/>
                <input type="hidden" data-bind="attr: {name: getTokenCodeArray('first_card_amount')}" value="" class="first_card_amount"/>
                <input type="hidden" data-bind="attr: {name: getTokenCodeArray('second_card_amount')}" value="" class="second_card_amount"/>
                <input type="hidden" data-bind="attr: {name: getTokenCodeArray('second_card_payment_method_id')}" value="" class="second_card_payment_method_id" id="second_card_payment_method_id"/>
                <input type="hidden" id="second_card_one_click_pay_mp" data-bind="attr: {name: getTokenCodeArray('second_card_one_click_pay'), value:isOCPReady()}">
            </div>
            <div id="mercadopago-init" data-bind="template: {afterRender: initSecondCard()}"></div>
        </fieldset>
    </div>
</div>

<div class="fieldset use-2-cards-box">
    <button id="show_second_card" class="action_ocp action primary field"  type="button"><span><!-- ko i18n: 'Use 2 cards'--><!-- /ko --></span></button>
</div>