<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label class="label" data-bind="attr: {'for': getCode()}">
            <!-- Mercado Pago Logo -->
            <span data-bind="text: getTitle()"></span>
            <!-- Mercado Pago Logo -->
            <img data-bind="attr: {alt: 'Mercado Pago',src:getLogoUrl()}"
                 class="payment-icon"/>
        </label>
        <div class="class-custom-banner-checkout">
            <img data-bind="attr: {alt: 'MercadoPago Banner', src: getBannerUrl()}"
                 class="payment-banner-checkout"/>
        </div>
    </div>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <!--<div id="standard_banner_checkout">-->
            <!--<img class="banner_checkout_mp" data-bind="attr: {src: getBannerUrl()}"/>-->
        <!--</div>-->
        <div class="checkout-agreements-block">
            <!-- ko foreach: $parent.getRegion('before-place-order') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
        <div class="actions-toolbar" data-bind="visible: !isInAction()">
            <div class="primary">
                <button data-role="review-save" type="submit" data-bind="click: placePendingPaymentOrder, attr: {title: $t('Continue')}, css: {disabled: !isPlaceOrderActionAllowed()}" class="button action primary checkout">
                    <span data-bind="i18n: 'Continue'"></span>
                </button>
            </div>
        </div>
        <div data-bind="visible: isInAction()">
            <div id="iframe-warning" class="message notice">
                <div><!-- ko i18n: 'Please do not refresh the page until you complete payment.' --><!-- /ko --></div>
            </div>
            <!-- ko if: isPaymentReady() -->
            <iframe data-bind="attr: {height:getConfigHeight(), id: getCode() + '-iframe', src: getActionUrl()}, event: {load: iframeLoaded}" data-container="standard-iframe" class="mercadopago iframe" scrolling="no" frameborder="0" border="0" width="100%"></iframe>
            <!-- /ko -->
            <script type="text/javascript">
                (function () {
                    function $MPBR_load() {
                        window.$MPBR_loaded !== true && (function () {
                            var s = document.createElement("script");
                            s.type = "text/javascript";
                            s.async = true;
                            s.src = ("https:" == document.location.protocol ? "https://www.mercadopago.com/org-img/jsapi/mptools/buttons/" : "http://mp-tools.mlstatic.com/buttons/") + "render.js";
                            var x = document.getElementsByTagName('script')[0];
                            x.parentNode.insertBefore(s, x);
                            window.$MPBR_loaded = true;
                        })();
                    }

                    window.$MPBR_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;
                })();
            </script>
        </div>
    </div>
</div>
