<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mercadopago>
                <country>mlb</country>
                <title>General configuration</title>
                <order_status_approved>processing</order_status_approved>
                <order_status_refunded>pending</order_status_refunded>
                <order_status_in_process>pending</order_status_in_process>
                <order_status_in_mediation>pending</order_status_in_mediation>
                <order_status_rejected>pending</order_status_rejected>
                <order_status_cancelled>pending</order_status_cancelled>
                <order_status_chargeback>pending</order_status_chargeback>
                <logs>0</logs>
                <debug_mode>0</debug_mode>
            </mercadopago>

            <mercadopago_standard>
                <active>0</active>
                <model>MercadoPago\Core\Model\Standard\Payment</model>
                <order_status>pending</order_status>
                <title>MercadoPago</title>
                <allowspecific>0</allowspecific>
                <banner_checkout>http://imgmp.mlstatic.com/org-img/MLB/MP/BANNERS/tipo2_468X60.jpg</banner_checkout>
                <sort_order>-1</sort_order>
                <installments>24</installments>
                <type_checkout>iframe</type_checkout>
                <auto_return>1</auto_return>
                <iframe_width>900</iframe_width>
                <iframe_height>700</iframe_height>
                <sandbox_mode>0</sandbox_mode>
				<group>offline</group>
            </mercadopago_standard>
        </payment>
    </default>
</config>
