<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <mercadopago_standard>
                <active>0</active>
                <model>MercadoPago\Core\Model\Standard\Payment</model>
                <order_status>pending</order_status>
                <title>MercadoPago</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </mercadopago_standard>
        </payment>
    </default>
</config>
