<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MercadoPago\Core\Helper\Message\MessageInterface" type="MercadoPago\Core\Helper\StatusOrderMessage" />
    <preference for="Magento\Framework\Setup\ModuleContextInterface" type="Magento\Setup\Model\ModuleContext" />
    <type name="Magento\Setup\Model\ModuleContext">
        <arguments>
            <argument name="version" xsi:type="string">2.0.0</argument>
        </arguments>
    </type>
</config>