<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MercadoPago\Core\Helper\Message\MessageInterface" type="MercadoPago\Core\Helper\Message\StatusOrderMessage" />
    <preference for="Magento\Framework\Setup\ModuleContextInterface" type="Magento\Setup\Model\ModuleContext" />
    <preference for="Magento\Quote\Api\CartRepositoryInterface" type="Magento\Quote\Model\QuoteRepository" />
	<type name="MercadoPago\Core\Logger\Handler\System">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>    
	<type name="Magento\Setup\Model\ModuleContext">
        <arguments>
            <argument name="version" xsi:type="string">2.0.0</argument>
        </arguments>
    </type>
	<type name="MercadoPago\Core\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="MercadoPago\Core\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">mercadopago</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">MercadoPago\Core\Logger\Handler\System</item>
            </argument>
        </arguments>
    </type>
    <type name="MercadoPago\Core\Model\Core">
        <arguments>
            <argument name="statusMessage" xsi:type="object">MercadoPago\Core\Helper\Message\StatusMessage</argument>
            <argument name="statusDetailMessage" xsi:type="object">MercadoPago\Core\Helper\Message\StatusDetailMessage</argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="mercadopago_order_cancel_plugin" type="MercadoPago\Core\Plugin\OrderCancelPlugin"/>
    </type>
    <type name="Magento\Framework\View\Asset\Minification">
        <plugin name="mercadopago_minification_plugin" type="MercadoPago\Core\Plugin\MinificationIsExcludedPlugin"/>
    </type>
</config>