/behat.yml

/vendor
!/vendor/bex
/vendor/bex
!vendor/bex/behat-magento2-init
vendor/bex/behat-magento2-init
!vendor/bex/behat-magento2-init/src
vendor/bex/behat-magento2-init/src
!vendor/bex/behat-magento2-init/src/Bex
vendor/bex/behat-magento2-init/src/Bex
!vendor/bex/behat-magento2-init/src/Bex/Behat
vendor/bex/behat-magento2-init/src/Bex/Behat
!vendor/bex/behat-magento2-init/src/Bex/Behat/Magento2InitExtension
vendor/bex/behat-magento2-init/src/Bex/Behat/Magento2InitExtension
!vendor/bex/behat-magento2-init/src/Bex/Behat/Magento2InitExtension/Fixtures
vendor/bex/behat-magento2-init/src/Bex/Behat/Magento2InitExtension/Fixtures
!vendor/bex/behat-magento2-init/src/Bex/Behat/Magento2InitExtension/Fixtures/BaseMinkFixture.php

composer.lock