<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <mercadoenvios>
                <active>1</active>
                <title>MercadoEnvíos</title>
                <model>MercadoPago\MercadoEnvios\Model\Carrier\MercadoEnvios</model>
                <sort_order>10</sort_order>
                <sallowspecific>0</sallowspecific>
                <name>MercadoEnvios</name>
                <specificerrmsg>This shipping method is currently unavailable.</specificerrmsg>
            </mercadoenvios>
        </carriers>
    </default>
</config>
