<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mercadopago_standard_notification_before_set_status">
        <observer name="setOrderShipmentData" instance="MercadoPago\MercadoEnvios\Observer\ShipmentData" />
    </event>
    <event name="mercadopago_standard_notification_received">
        <observer name="createShipment" instance="MercadoPago\MercadoEnvios\Observer\Shipment" />
    </event>
    <event name="mercadopago_standard_make_preference_before">
        <observer name="setShipmentParams" instance="MercadoPago\MercadoEnvios\Observer\ShipmentParams" />
    </event>
    <event name="controller_action_predispatch_shipping_tracking_popup">
        <observer name="setShipmentParams" instance="MercadoPago\MercadoEnvios\Observer\TrackingPopup" />
    </event>
    <event name="payment_method_is_active">
        <observer name="filterActivePaymentMethods" instance="MercadoPago\MercadoEnvios\Observer\FilterActivePaymentMethods" />
    </event>
</config>
