<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../vendor/magento/module-config/etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="mercadoenvios" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mercado Envios - Global Configuration</label>
                <frontend_model>MercadoPago\MercadoEnvios\Block\Adminhtml\System\Config\Fieldset\Carrier</frontend_model>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment>Enable to edit specific values</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                </field>
                <field id="attributesmapping" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Product attributes mapping</label>
                    <comment>To manage the status available go to System > Order Statuses</comment>
                    <frontend_model>MercadoPago\MercadoEnvios\Block\Adminhtml\System\Config\Fieldset\Mapping</frontend_model>
                    <backend_model>MercadoPago\MercadoEnvios\Model\Adminhtml\Attribute\Validation\Mapping</backend_model>
                </field>
                <field id="availablemethods" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1">
                    <label>Available shipping methods</label>
                    <source_model>MercadoPago\MercadoEnvios\Model\System\Config\Source\Method</source_model>
                </field>
                <field id="allowspecific" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1">
                    <label>Allow Specific Country</label>
                    <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="specificcountry" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1">
                    <label>Specific Country</label>
                    <source_model>MercadoPago\Core\Model\System\Config\Source\Country</source_model>
                </field>
                <field id="free_method" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1">
                    <label>Free Method</label>
                    <source_model>MercadoPago\MercadoEnvios\Model\System\Config\Source\FreeMethod</source_model>
                </field>
                <field id="free_shipping_enable" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Free Shipping with Minimum Order Amount</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="free_shipping_subtotal" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Minimum Order Amount for Free Shipping</label>
                </field>
                <field id="showmethod" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show method if not applicable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="specificerrmsg" translate="label" type="textarea" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Displayed Error Message</label>
                </field>
                <field id="log" translate="label" type="select" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="debug_mode" translate="label" type="select" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                </field>
                <field id="shipping_label" translate="label" type="select" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Shipping label download option</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>